:root {
  --color-bg: #292929;
  --color-primary: #ffc300;
  --color-secondary: #b88d00;
  --color-armony: #fff5d6;
}

body {
  background-color: var(--color-bg);
}

.logo-container {
  width: 180px;
  height: 180px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.btn {
  background-color: var(--color-secondary);
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-2 {
  background-color: var(--color-bg);
  color: #ffffff;
}

.footer-text {
  color:var(--color-secondary);
  font-size: 9px;
  margin-top: 5px;
}
