body {
  background-color: var(--color-bg);
}

.logo-container {
  width: 150px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.btn {
  background-color: var(--color-secondary);
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-2 {
  background-color: var(--color-bg-dark);
  color: #ffffff;
}

.footer-text {
  color:var(--color-secondary);
  font-size: 9px;
  margin-top: 5px;
}
