@import url("https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  --color-bg: #dff2f6;
  --color-primary: #2b90a4;
  --color-secondary: #1a5561;
  --color-bg-dark: #0d2a30;
  --color-contrast: #3e34c9;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
